/* tabs */
html /deep/ .tabbed-pane-header {
	flex-basis: 35px;
}
html /deep/ .tabbed-pane-header-tab,
html /deep/ .tabbed-pane-header-tab.selected {
	height: 34px;
}

/* filter/search bar */
html /deep/ .filter-text-filter,
html /deep/ .filter-input-field {
	height: auto;
	padding: 0;
}

/* console */
html /deep/ .bubble-repeat-count {
	height: 1.2em;
}
html /deep/ .tree-outline li {
	align-items: flex-start;
}
html /deep/ .object-value-string {
	white-space: pre-wrap;
}
html /deep/ .webkit-html-external-link,
html /deep/ .webkit-html-resource-link {
	text-decoration: none;
}
html /deep/ .webkit-html-external-link:hover,
html /deep/ .webkit-html-resource-link:hover {
	text-decoration: underline;
}
html /deep/ .tooltip {
	line-height: 1.4;
	white-space: pre-wrap;
}
html /deep/ .object-properties-section li {
	line-height: 1.1;
}

/* script popup */
html /deep/ .popover .content {
	line-height: 1.4;
}

/* selectors */
html /deep/ .styles-section .simple-selector.selector-matches {
	color: #000;
	font-weight: bold;
}
html /deep/ .styles-section .style-properties .implicit,
html /deep/ .styles-section .style-properties .inherited {
	opacity: 0.35;
}

/* expand/collapse arrows */
html /deep/ .console-group-messages .section > .header .title,
html /deep/ .properties-tree li,
html /deep/ .object-properties-section li {
	line-height: 1.2;
}

html /deep/ #search-results-pane-file-based li.parent,
html /deep/ .event-listener-breakpoints li.parent,
html /deep/ .section > .header,
html /deep/ .properties-tree li.parent,
html /deep/ .tree-outline li,
html /deep/ .elements-disclosure li.parent {
	padding-left: 20px;
}
html /deep/ #search-results-pane-file-based li.parent::before, /* SHIFT + F search results */
html /deep/ .event-listener-breakpoints li.parent::before, /* Event Listener Breakpoints sidebar */
html /deep/ .section > .header::before, /* Console */
html /deep/ .properties-tree li.parent::before, /* Console sub/properties */
html /deep/ .tree-outline li::before, /* Console sub/properties */
html /deep/ .elements-disclosure li.parent::before { /* Elements */
	display: inline-block;
	height: 12px;
	margin-top: calc((1.2em - 12px) / 2) !important; /* overriden in objectValue.css */
	width: 14px;

	/* Broken alignment since Chrome 49/50+ */
	position: absolute;
	left: 6px;
	top: 0;
}
html /deep/ .elements-disclosure li.parent::before { /* Elements */
	background-color: hsl(0, 100%, 40%); /* red */
}


/* resources tab side panel */
html /deep/ .resources.panel .sidebar li {
	height: auto;
	position: relative;
}
html /deep/ .resources.panel .sidebar li .selection {
	height: auto !important;
	top: 0;
	bottom: 0;
}
html /deep/ .resources.panel .sidebar .icon {
	margin-top: calc((1.2em - 16px) / 2);
}
html /deep/ /*.resources.panel .sidebar*/ .outline-disclosure li::before {
	height: 12px;
	width: 16px;
	margin-top: calc((1.2em - 12px) / 2);
	display: inline-block;
}

/* resources tab content table */
html /deep/ .data-grid .header-container {
	height: 1.6em;
}
html /deep/ .data-grid .data-container {
	top: 1.6em;
}
html /deep/ .data-grid td {
	height: 1.4em;
	line-height: 1.4;
	padding-top: 0;
	padding-bottom: 0;
}
html /deep/ .data-grid table.data {
	background: none transparent;
}
html /deep/ .resources-main .data-grid table.data tr:not(.selected):nth-child(odd) {
	background-color: #EAF3FF;
}
html /deep/ .data-grid td,
html /deep/ .data-grid th {
	line-height: 1.2;
}

/* sources */
html /deep/ .cm-breakpoint .CodeMirror-linenumber {
	height: calc(100% - 2px);
	line-height: calc(1.2em - 2px) !important;
}

/* breakpoints */
html /deep/ .event-listener-breakpoints li.parent {
	clear: both;
}
